<!DOCTYPE html>
<html>   
    <head> 
        <title></title>
        <link rel="stylesheet" type="text/css" href="css/app.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>

        <div class="js-webgl"></div>

        <div class="js-container">
            <a class="js-start look-around">START</a>
        </div>

        <script src="/js/vendor/modernizr.js"></script>
        <script data-main="/js/common.js" src="/js/vendor/require.js"></script>

    </body>
</html>