article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

a:focus {
  outline: thin dotted; }

a:active,
a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: '\201C' '\201D' '\2018' '\2019'; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

legend {
  border: 0;
  padding: 0; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0; }

button,
input {
  line-height: normal; }

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box;
  padding: 0; }

input[type='search'] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *::before, *::after {
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dd,
ol,
ul,
form,
fieldset,
legend,
table,
th,
td,
caption,
hr {
  margin: 0;
  padding: 0; }

abbr[title],
dfn[title] {
  cursor: help; }

label,
button,
select,
option {
  cursor: pointer; }

textarea:active,
textarea:focus {
  cursor: text;
  outline: none; }

a,
u,
ins {
  text-decoration: none; }

ins {
  border-bottom: 1px solid; }

img {
  font-style: italic; }

html {
  font-size: 1em;
  line-height: 1.5;
  color: #333;
  font-family: "droid-sans--regular", sans-serif;
  overflow-x: hidden;
  overflow-y: auto; }

.wrapper {
  max-width: 64em;
  margin: 0 auto; }
  @media all and (min-width: 40em) {
    .wrapper {
      padding: 0 30px; } }

ul,
ol {
  padding-left: 20px;
  margin-left: 20px;
  margin-bottom: 20px; }

ol {
  padding-left: 22px; }
  ol ol {
    margin: 0;
    list-style-type: lower-alpha; }

ul ul {
  margin: 0; }

img {
  max-width: 100%;
  display: block; }

a {
  color: #2099D8; }
  a:hover {
    color: inherit; }
  a:focus, a:active {
    outline: 0; }
  a > code {
    color: inherit !important; }

p {
  margin-bottom: 20px; }

pre {
  margin-bottom: 20px; }

strong {
  font-family: "droid-sans--bold", sans-serif; }

.important {
  border: 2px dashed #c2c2c2;
  padding: 10px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-family: "droid-sans--bold", sans-serif;
  margin-bottom: 20px; }

h1 {
  font-size: 1.875em; }
  @media all and (min-width: 40em) {
    h1 {
      font-size: 2.5em; } }

h2 {
  font-size: 1.5625em; }

h3 {
  font-size: 1.25em; }

h4 {
  font-size: 0.9375em; }

h5 {
  font-size: 0.75em; }

h6 {
  font-size: 0.625em; }

.button,
.button--positive {
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  color: #2099D8;
  border: 2px solid #2099D8;
  background: none; }
  .button:hover,
  .button--positive:hover {
    color: inherit; }
  .button:focus, .button:active,
  .button--positive:focus,
  .button--positive:active {
    outline: 0; }
  .button.active, .button:active,
  .active.button--positive,
  .button--positive:active {
    color: #fff;
    border: 2px solid #2099D8;
    background: #2099D8; }

.input-text,
.drop-down,
.form__select > select,
.form__field {
  display: block;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  outline: 0;
  border: 1px solid #ccc;
  color: #2099D8; }

.drop-down,
.form__select > select {
  position: relative;
  -webkit-appearance: none; }

.slider,
.form__slider {
  -webkit-appearance: none;
  border-radius: 5px;
  vertical-align: middle;
  outline: 0;
  border: 1px solid #ccc;
  margin-bottom: 20px; }

.form--narrow {
  width: 300px; }

.form__row {
  display: block; }
  .form__row.has-error .form__field {
    border-color: red; }

.form__field {
  width: 100%; }

.form__select {
  position: relative; }
  .form__select > select {
    width: 100%; }
  .form__select:after {
    position: absolute;
    margin: auto;
    content: '';
    background: url(../img/ui/arrow-down.png) no-repeat center center;
    right: 10px;
    top: 0;
    bottom: 0;
    width: 15px;
    height: 10px; }

.form__field--inline {
  display: inline;
  width: 32.3%; }

.form__label {
  display: block;
  margin-bottom: 10px; }

.form__slider {
  width: 100%; }

.button--positive {
  margin-bottom: 20px;
  display: inline-block; }

/* http://prismjs.com/download.html?themes=prism&languages=markup+css+scss */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
code[class*="language-"],
pre[class*="language-"] {
  color: #333;
  font-size: 0.875em;
  font-family: "droid-sans--mono", "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
  text-shadow: none; }

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
  text-shadow: none; }

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none; } }
/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0 20px 0;
  overflow: auto; }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f5f2f0; }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray; }

.token.punctuation {
  color: #999; }

.namespace {
  opacity: .7; }

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905; }

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #690; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5); }

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a; }

.token.function {
  color: #DD4A68; }

.token.regex,
.token.important,
.token.variable {
  color: #e90; }

.token.important,
.token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }

.tree {
  background: #f5f2f0;
  padding: 1em;
  margin: .5em 0 20px 0;
  overflow: auto; }
  .tree.hide-all .folder__checkbox + .tree__container {
    display: none !important; }
  .tree.show-all .folder__checkbox + .tree__container {
    display: block !important; }

.tree,
.tree__container {
  list-style: none; }

.tree__container {
  margin-bottom: 0; }

.tree.show-all .folder__checkbox + .tree__container {
  display: block; }

.folder__label {
  font-family: "droid-sans--bold", sans-serif; }

.folder__checkbox {
  display: none; }
  .folder__checkbox + .tree__container {
    display: none; }

.folder__checkbox:checked + ol {
  display: block; }

.hint {
  font-size: 0.875em;
  color: #c2c2c2;
  font-family: "droid-sans--regular", sans-serif; }

.carousel {
  position: relative;
  margin-bottom: 30px; }

.carousel__list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 0; }

.carousel__list-item {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 500px;
  background: #ccc;
  text-align: center;
  line-height: 300px; }

.carousel__prev, .carousel__next {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  z-index: 999;
  display: block;
  width: 40px;
  height: 40px;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer; }
  .carousel__prev:hover, .carousel__next:hover {
    opacity: 1;
    -webkit-transition: all 0.2s ease; }

.carousel__prev {
  border-radius: 0 2px 2px 0; }

.carousel.is-vertical {
  overflow: hidden; }
  .carousel.is-vertical .carousel__prev, .carousel.is-vertical .carousel__next {
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto; }
  .carousel.is-vertical .carousel__next {
    top: auto;
    bottom: 0; }

.carousel__next {
  right: 0;
  border-radius: 2px 0 0 2px; }

/* Demo */
.carousel--fade .carousel__list-item {
  transition: background 0.6s linear; }
  .carousel--fade .carousel__list-item.is-active {
    background: #ff8888 !important; }

.look-around {
  position: absolute;
  text-align: center;
  width: 300px;
  height: 70px;
  background: #fff;
  color: #000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 20px; }

/*------------------------------------*\
    #TRUMPS
\*------------------------------------*/
/**
 * Pull in all our trumps and overrides.
 */
.float--none {
  float: none !important; }

.float--right {
  float: right !important; }

.float--left {
  float: left !important; }

.hide-text {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px); }

.no-wrap {
  overflow: hidden; }

@media all and (min-width: 40em) {
  .mobile-only {
    display: none !important; } }
@media print {
  *,
  a {
    color: #333 !important;
    background-color: #fff !important;
    border: 0 !important; }
    *::before, *::after,
    a::before,
    a::after {
      content: "" !important; }

  .accordion__content {
    display: block !important; }

  iframe,
  form {
    display: none !important; }

  img {
    max-width: 50%; }

  a::after {
    content: "url " attr(href) !important;
    margin-left: 10px;
    color: #ccc;
    font-family: arial;
    font-weight: normal;
    font-size: 12px;
    text-transform: lowercase; } }

/*# sourceMappingURL=app.css.map */
