.form{
	
}

.form--narrow{
	width: 300px;
}

.form__row{
	display: block;

		&.has-error{
			.form__field{
				border-color: red;
			}
		}
}

.form__field{
	@extend %input-text;
	width: 100%;
}

.form__select{

	position: relative;

	> select{
		@extend %drop-down;
		width: 100%;
	}

    &:after{
        position: absolute;
        margin: auto;
        content: '';
        background: url(../img/ui/arrow-down.png) no-repeat center center;
        right: 10px;
        top: 0;
        bottom:0;
        width: 15px;
        height: 10px;
    }

}

.form__field--inline{
	display: inline;
	width: 32.3%;
}

.form__label{
	display: block;
	margin-bottom: 10px;
}

.form__slider{
	@extend %slider;
	width: 100%;
}