.look-around{
	position: absolute;
	text-align: center;
	width: 300px;
	height: 70px;
	background: #fff;
	color: #000;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	padding: 20px;
}